@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  caret-color:transparent;
  overflow-x: hidden;
}

code {
  font-family:source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theme-bg-primary {
  @apply bg-secondary dark:bg-primary;
}

.theme-bg-secondary {
  @apply dark:bg-neutral-600 bg-neutral-300;
}

.theme-fc-primary {
  @apply text-primary dark:text-secondary;
}

.theme-fc-secondary {
  @apply dark:text-neutral-400 text-neutral-600;
}

.theme-b-primary {
  @apply border-neutral-500
}

.theme-b-secondary {
  @apply border-neutral-300 dark:border-neutral-700
}

.link {
  @apply underline hover:cursor-pointer
}

.link:hover {
  @apply theme-fc-primary
}

html *,
body * {
  @apply transition-all theme-b-primary;
}

#root,
html,
body {
  @apply theme-bg-primary theme-fc-primary
}

#root {
  min-height:100vh;
}

button {
  @apply shadow-sm hover:shadow text-lg border py-2 px-5;
}

nav i,
nav svg,
button {
  @apply hover:cursor-pointer hover:bg-neutral-200 dark:hover:bg-neutral-900 focus:bg-current
}


nav h1 {
  @apply cursor-default
}

nav,
aside {
  @apply theme-bg-primary
}