@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  caret-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html * {
  @apply transition-all;
  border-color: rgb(100,100,100);
}

#root, html {
  @apply bg-secondary dark:bg-primary text-primary dark:text-secondary;
}

#root {
  min-height: 100vh;
}

button {
  @apply shadow-sm hover:shadow border py-2 px-5;
}

nav svg, aside svg {
  @apply hover:cursor-pointer hover:bg-neutral-200 dark:hover:bg-neutral-900
}

nav h1 {
  @apply cursor-default
}

nav, aside {
  @apply bg-secondary dark:bg-primary
}